label.error{
    color: #F00;
    font-weight: bold;
}

input.error,
select.error,
textarea.error {
    border: 1px red solid;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

#wsFeedbackList {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
